.text-pressure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.text-pressure-title {
  color: transparent;
  -webkit-text-stroke: 2px #FFE81F;
  font-size: 4rem;
  margin: 0;

}
